<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
    <link rel="stylesheet" href="calculadora.component.css">
</head>
<body>
    <section class="container">
        <h1> CALCULADORA </h1>
        <table class="calculadora">
            <!-- tr = linha td = coluna -->
            <tr>
                <td colspan="4"> <input type="text" 
                                        class="display"
                                        id="display"
                                        [value]="display"
                                        readonly> </td>
            </tr>
            <tr>
                <td><button class="btn btn-clear" (click)="limpar()">C</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero('(')">(</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero(')')">)</button></td>
                <td><button class="btn btn-num" (click)="definirOperacao('/')">/</button></td>
            </tr>
            <tr>
                <td><button class="btn btn-num" (click)="adicionarNumero('7')">7</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero('8')">8</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero('9')">9</button></td>
                <td><button class="btn btn-num" (click)="definirOperacao('*')">*</button></td>
            </tr>
            <tr>
                <td><button class="btn btn-num" (click)="adicionarNumero('4')">4</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero('5')">5</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero('6')">6</button></td>
                <td><button class="btn btn-num" (click)="definirOperacao('+')">+</button></td>
            </tr>
            <tr>
                <td><button class="btn btn-num" (click)="adicionarNumero('1')">1</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero('2')">2</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero('3')">3</button></td>
                <td><button class="btn btn-num" (click)="definirOperacao('-')">-</button></td>
            </tr>
            <tr>
                <td><button class="btn btn-num" (click)="adicionarNumero('.')">.</button></td>
                <td><button class="btn btn-num" (click)="adicionarNumero('0')">0</button></td>
                <td><button class="btn btn-del">&laquo;</button></td>
                <td><button class="btn btn-Eq" (click)="calcular()">=</button></td>
            </tr>
        </table>
    </section>
</body>
</html>